@import '@fontsource-variable/mulish';
@import '@fontsource-variable/source-code-pro';
@import url('./mdstyles/prism-nord.css');
@import url('./mdstyles/my-prose-overrides.css');

html,
body {
	height: 100%;
}

html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}
